@use 'variables';
@use 'mixins';
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	background-color: variables.$whitesmoke;
	height: 95vh;
	@include mixins.custom-scroll-bar();
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 70rem;
	margin: 0 auto;
}
