@use 'variables';
@use 'mixins';

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
	color: variables.$primary;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
//=======CARD===========

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1.25rem;
	flex-direction: column;
	margin-bottom: 1.25rem;
	width: 30%;
	margin: 0.8rem;
	border: 0.1rem solid variables.$primary;
	box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
	@include mixins.tablet {
		flex-direction: column;
		width: 50%;
		margin: 20px;
	}
	@include mixins.mobile {
		flex-direction: column;
		width: 100%;
		margin: 1.25rem;
	}
	.title {
		margin: 1rem 0;
		background-color: variables.$primary;
		color: variables.$black;
		padding: 0.5rem;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h3 {
		text-transform: capitalize;
		margin-bottom: 1rem;
		font-weight: 400;
		font-size: 1.25rem;
	}
	.btn {
		padding: 1rem;
		border: 0.1rem solid variables.$primary;
		margin-bottom: 2rem;
		cursor: pointer;
		transition: transform 0.3s linear;

		&:hover {
			background: variables.$primary;
			transform: scale(1.1);
		}
	}
}
